.logoText {
    font-family: 'Archivo Black', sans-serif;
}

.petCardContainer {
    display: flex;
    font-family: 'Archivo', sans-serif;
    font-size: 22px;

    align-items:center;
}

.petCardImage {
    max-width:50%;
    min-width: 400px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}