@{
    ViewData["Title"] = "Home Page";
}
<div id="heroCard">
<img id="petHero" src="~/images/hungryKitten.jpg" alt="Happy kitten wanting food"/>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Have you ever needed someone to check in on your pet, but you were out of town, stuck at work, or just can't get home in time?</p>
    <p> Then this service is for you! </p>
    <p> Quickly check to see if a neighbor can stop by, and be sure to return the favor.</p>
</div>
</div>
